# Environments
.venv/
env/
__pycache__/
*.pyc

# Datasets (NEVER commit raw data)
data/
dataset/

# Results & Logs (Optional, but good practice so you don't commit huge JSONs)
results/*.json

!results/.gitkeep 

# IDEs and OS
.vscode/
.DS_Store

*.pdf
*.pt
*.pth
